.ContactUs {
  margin-top: 176px;
  margin-bottom: 96px;
}

.ContactUs .container {
  max-width: 1256px;
}

.ContactUs_top {
  margin-bottom: 72px;
}

.ContactUs_top-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #B54708;
}

.ContactUs_top-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
  margin-top: 12px;
  margin-bottom: 20px;
}

.ContactUs_top-dicr {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #667085;
}

.ContactUs_map {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContactUs_map-wrapper {
  margin-bottom: 48px;
  display: flex;
  align-items: flex-start;
}

.ContactUs_map-wrapper:last-child {
  margin-bottom: 0;
}

.ContactUs_map-wrapper::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  background-image: url("../../images/mess.png");
  background-size: contain;
}

.ContactUs_map-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}

.ContactUs_map-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  margin-top: 8px;
  margin-bottom: 20px;
}

.ContactUs_map-gmail {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #B54708;
}

.ContactUs_form {
  width: 100%;
  max-width: 786px;
  margin: 0 auto;
}

.ContactUs_form-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #DC6803;
}

.ContactUs_form-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #101828;
  margin-top: 12px;
  margin-bottom: 24px;
}

.ContactUs_form-dicr {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #667085;
  margin-bottom: 96px;
}

.ContactUs_form-bottom {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.ContactUs_form-bottom-fuulname {
  display: flex;
  justify-content: space-between;
}

.ContactUs_form-bottom-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin-bottom: 6px;
}

.ContactUs_form-bottom-input {
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  margin-bottom: 24px;
}

.ContactUs_form-bottom-check {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  margin-left: 12px;
}

.ContactUs_form-bottom-btn {
  width: 100%;
  margin-top: 44px;
}
