.ContactUs {
    margin-top: 176px;
    margin-bottom: 96px;

    .container {
        max-width: 1256px;
    }

    &_top {
        margin-bottom: 72px;

        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #B54708;

        }

        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;
            color: #101828;
            margin-top: 12px;
            margin-bottom: 20px;
        }

        &-dicr {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #667085;
        }
    }

    &_map {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E4E7EC;
        padding-bottom: 96px;

        &-wrapper {
            margin-bottom: 48px;
            display: flex;
            align-items: flex-start;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: "";
                display: inline-block;
                width: 48px;
                height: 48px;
                margin-right: 16px;
                background-image: url('../../images/mess.png');
                background-size: contain;

            }
        }

        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #101828;
        }

        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #667085;
            margin-top: 8px;
            margin-bottom: 20px;
        }

        &-gmail {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #B54708;
        }
    }

    &_form {
        width: 100%;
        max-width: 786px;
        margin: 0 auto;
        margin-top: 96px;


        &-name {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #DC6803;
        }

        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #101828;
            margin-top: 12px;
            margin-bottom: 24px;
        }

        &-dicr {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #667085;
            margin-bottom: 96px;
        }

        &-bottom {
            width: 100%;
            max-width: 480px;
            margin: 0 auto;

            &-fuulname {
                display: flex;
                justify-content: space-between;
            }

            &-label {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #344054;
                margin-bottom: 6px;
            }

            &-input {
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                padding: 12px 16px;
                width: 100%;
                margin-bottom: 24px;
            }

            &-check {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #667085;
                margin-left: 12px;
            }

            &-btn {
                width: 100%;
                margin-top: 44px;
            }
        }
    }



}