.Ourblog {
    margin-bottom: 96px;
}

.Ourblog_top {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 64px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #B54708;
    }

    &-title {
        margin-top: 12px;
        margin-bottom: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: #101828;
    }

    &-dicr {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #667085;
    }


}